<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title >
      Tus post publicados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="cosas.length > 0">
    <ion-list>
      <div *ngFor="let item of cosas" [routerLink]="['/', item.id]">
        <ion-item>
          <ion-label>
            <h2>{{item.title}}</h2>
            <p>{{item.body}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
  
</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar color="secondary">
    <ion-button  color="dark" (click)="logout()">Cerrar sesion</ion-button>
  </ion-toolbar>
</ion-footer>